@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
nav .logo {
  font-size: 28px;
  cursor: pointer;
}
nav .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
nav .nav-links li {
  margin: 20px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
nav .nav-links ul li a{
    text-decoration: none;
}
.home {
  display: flex;
  padding: 20px 25px;
  align-items: center;
}
.home .container{
    margin-top: 55px;
}
.home .container .content .text {
    margin: 20px;
    text-shadow: 2px 2px 2px #000;
}
.home .container .content h1{
   font-size: 55px;
   font-weight: 700;
}
.home .container .content p{
    font-size: 20px;
}
.home .container .content button{
    margin-left: 20px;
    border: 1px solid #fff;
    background: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    transition: 0.5s;
}
.home .container .content button:hover{
  box-shadow: 0 0 12px #989595;
  background: #989595;
  color: #000;
}
#bgvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  